*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*header part*/

header{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(image/bg.jpg);
    background-size: cover;
    height: 100vh;
    background-position: center;
}
ul{
    float: right;
    list-style-type: none;
    margin-top: 20px;
}
ul li{
    display: inline-block;
}
ul li a{
    border-radius: 5px;
    font-size:20px;
    text-decoration: none;
    color: #111;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
}
ul li a:hover{
    background-color:green;
    color: white;
}
ul li.active a{
    background-color: green;
    color: rgb(228, 223, 233);
}
.logo img{
 float: left;
 height: 200px;
 margin: 0;
}
.navbar{
    float:right;
    display:flex;
    margin:auto;
    padding:20px 0;
    display:flex;
}

/*body heading*/
.title{
   position: absolute;
   top: 50%;
   left: 30%;
   transform: translate(-50%, -50%)
}
.title h1{
    color: rgb(255, 255, 255);
    font-size: 50px;
}
.title p span {
    color:red;
    font-size:35px;
}
.title p{
    font-size: 19px;
    color:white;
}
.title a{
background: #212121;
padding: 8px 18px;
text-decoration: none;
color: #fff;
display: inline-block;
margin: 20px 0;
border-radius: 5px;
}
.title a:hover{
    background-color: white;
    color:black;
    transition: 0.8s ease;
}
.img-box{
    left: 65%;
    height: 45%;
    position:absolute;
    bottom: 22%;
    right: 100px;
   
}
.svg{
    height:100%;
    position: absolute;
    left: 20%;
    bottom:0;
    transform: translateX(-30%);
    transition: bottom 1s;
}
.img-box:hover .svg{
    bottom:20px;
}

/*contact detail with image*/

}

.contact{
    position: relative;
    top:85%;
}
.contact h2{
    position: absolute;
    top:76%;
    left: 18%;
    color: rgb(212, 245, 245);
}
.contact img{
    top: 80%;
    left:10%;
    margin-top: 30.666vw;
    position: relative;   
    width: 5vw;
    height: 18.0555vw;
    padding: 1vw;
    transform: translateX(-30%);
    transition: bottom 1s ease;
}
.contact a img:hover{
    bottom:15px;
}

/*footer element*/
footer{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(image/bg2.jpg);
    background-size: cover;
    height: 70vh;
    background-position: center;
    color: white;
    text-align: center;

}
input{
    width: 300px;
    height:24px ;
}
button{
    border:2px solid red;
    border-radius:4px;
    background-color: red;
    width: 100px;
    height: 28px;
    color: rgb(212, 245, 245);
    font-size: 20px;
}
button:hover{
    background-color: white;
    color: red;
}
.foot{
    text-align: right;
    padding-right:20px ;
}
.foot p{
    color: black;
}
.foot h3{
    text-decoration: underline;
    color: red;
    
}
.foot span{
     color: rgb(247, 151, 62);
     font-size: 27px;
}

.ft span{
    color: red;
    font-size: 45px;
}